# Python
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data — usually too large for git
data/*.csv
data/*.parquet

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log

plots/*.png
